{% extends "base.html" %}

{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{book.image.url}}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">
            <p class="lead font-weight-bold">Price: $ {{book.price}}</p>
 
            <p class="lead font-weight-bold">Description</p>

            <p>{{ book.description }}</p>

            <a href="{{ book.get_increase_cart_item_url }}" class="btn btn-primary btn-md my-0 p">
              Add To Cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>


    </div>
  </main>

{% endblock content %}
