{% extends "base.html" %}

{% block content %}
  <main class="mt-5">
    <div class="container">

      <!--Navbar-->
      <nav class="mt-3 mb-5">

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        </button>

      </nav>
      <!--/.Navbar-->

      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <div class="row wow fadeIn">
          {% if books %}
            {% for book in books %}
                <div class="col-lg-3 col-md-6 mb-4">

                  <div class="card">

                    <div class="view overlay">
                      <img src="{{ book.image.url }}" class="card-img-top">
                      <a href="{{ book.get_absolute_url }}">
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>

                    <div class="card-body text-center">
                      <h5>
                        <strong>
                          <a href="{{ book.get_absolute_url }}" class="dark-grey-text">{{ book.title }}
                          </a>
                        </strong>
                      </h5>

                      <h4 class="font-weight-bold blue-text">
                        <strong>$
                        {{ book.price }}
                        </strong>
                      </h4>

                    </div>

                  </div>

                </div>
            {% endfor %}
          {% else %}
            <h1>We don't have books with this title</h1>
          {% endif %}
        </div>

      </section>

    </div>
  </main>

{% endblock content %}


